---
layout: default
title: Schedule of Assignments
comments: false
---
{% include assignment-schedule.md mode='table' %}

<!-- <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a href="#test1">Daily Schedule</a></li>
        <li class="tab col s6"><a class="active" href="#test2">Full</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
        {% include assignment-schedule.md mode='table' %}

    </div>
    <div id="test2" class="col s12">
        {% include assignment-schedule.md mode='accordion' %}    </div>
  </div> -->


<!-- <div class="row">
  <div class="col s12 m4 l6">
      <a class="twitter-timeline" data-lang="en" data-width="300" data-height="800" data-dnt="true" data-theme="dark" data-link-color="#039be5" href="https://twitter.com/_mike_collins?ref_src=twsrc%5Etfw">Tweets by _mike_collins</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  <div class="col s12 m8 l6">
      
  </div>
</div> -->