<nav class="site-nav transparent z-depth-0">
   <ul class="right">
      <li><a href="{{ site.baseurl }}/">Schedule</a></li>
      <li><a href="{{ site.baseurl }}/blender">Learning Blender</a></li>
      <li><a href="{{ site.baseurl }}/calendar">Cal</a></li>
      <li><a href="{{ site.baseurl }}/syllabus/art314-fall2019">Syllabus</a></li>
      <li><a href="https://psu.instructure.com/courses/1995936">Canvas</a></li>
      <!-- <li><a href="{{ site.baseurl }}/discussion">Discussion</a></li>
      <li><a href="{{ site.baseurl }}/grading">Grading</a></li> -->
   </ul>
</nav>
